body {
    margin: 0;
    padding: 0;
    font: 15px/1.5 Arial, Helvetica;
    background: url(./bg.jpg) fixed no-repeat right bottom;
}

.container {
    width: 95%;
    margin: auto;
    overflow: hidden;
    padding: 30px 0;
}

header {
    color: #301173;
    /* min-height: 70px; */
}

header a {
    text-decoration: none;
    color: #301173;
    font-size: 16px;
}

header ul {
    /* margin: 0;
    padding: 0; */
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #logo {
    float: left;
    font-size: 10px;
    padding: 10px 0;
}

header #logo h1 {
    margin: 0;
}

header nav {
    float: right;
}

.selected a {
    padding: 8px 14px;
    cursor: pointer;
    background-color: #805ad1;
    border-radius: 50px;
    border:0px solid #bbb;
    color: #ffffff;
}

.main {
    display: flex;
    width: 60%;
    /* flex-basis: 60%; */
    flex-flow: column wrap;
    padding: 10% 60px;
}

.highlight-pink {
    margin-top: 50px;
}

.highlight-pink a {
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(214, 122, 137);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

nav li a, .highlight-pink a {
    transition: all 0.3s linear;
}

nav li a:hover {
    cursor: pointer;
    font-weight: bold;
    color: white;
    padding: 8px 14px;
    background-color: #805ad1;
    border-radius: 50px;
    border:0px solid #bbb;
}

.highlight-pink a:hover {
    font-weight: bold;
    background-color: #805ad1;
}

@media(max-width: 768px) {
    body {
        background: url(./bg.jpg) fixed no-repeat right bottom / 200px;
    }
    header #logo, header nav, header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }
}